@model dynamic

@{
    ViewBag.Title = "Diagrams";
}

    <head>
        <script src="~/Scripts/Chart.min.js"></script>
       
    </head>

<body>
        <div>
            <div style="float: left;">
                <div class="diagramButtons" style="width: 200px; height: 400px; overflow: auto;  margin-top: 100px; margin-right: 40px; padding-top: 10px; border: 1px double black; box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9); background-color: #eff1f4; padding-left: 12px;">
                   
                </div>
                <div style="text-align: center; margin-right: 50px; margin-top: 30px;" >
                    <input id="All" type="button" value="All" style="width: 100px"/>
                </div>
            </div>

            <div style="float: left">
                <canvas id="speedChart" width="800" height="600"></canvas>
            </div>


        </div>
    </body>


@Scripts.Render("~/bundles/Diagrams")
<script type="text/javascript">
    $(document).ready(StartPage('@Url.Action("GetN","Diagrams")'))
</script>
