<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="z">
    <input class="btn hovers" type="button" value="Hz"/>
</div>
</body>
</html>

<style>
    .z * { width: 100%;}
        
    
</style>