@model MVC5FullCalandarPlugin.Models.User

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    
    <div>
        <input id="ha" class="btn hovers" type="button" value="Hz" />
        <div id="ha" class="containerWithPanelsEvent">
                @Html.Partial("_AllEventsPartial");

        </div>
        <input class="btn hovers" type="button" value="Hz" />
    </div>
</body>
</html>

